
@{
    ViewBag.Title = "NuevasRespuestas";
}

<h2>Nuevas Respuestas : </h2>
<div id="marco">
    Cód.Opción Rpta.:<input class="llenar" disabled size="10"/>
    <br />
    Descripción:<br />
    <input class="llenar" size="500" />
    <br />
    Valor % del valor de la pregunta: <input class="llenar" size="5"/>
    <br>
    <input class="boton" type="submit" value="Guardar">
    <input class="boton" type="submit" value="Cancelar">
</div>
<style>
    #marco {
        margin: 12px;
        border: 1px solid;
        padding: 12px;
    }
    .llenar {
        border-radius:5px;
    }
    .boton {
        margin-left:35px;
        border-radius:5px;
    }
</style>

